// 전체메뉴 설정
.allmenu.settings {
  &.content.floating .content-body {
    padding-bottom: 0;
  }
  &.content.floating > .content-body {
    padding-bottom: 8rem;
  }
  //공통
  .modal-body {
    word-break: keep-all;
  }
  .full-body {
    .section {
      height: 100%;
    }
    .full-flex {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
  }
  .default-list {
    padding: .9rem 0 0;
    .item {
      display: block;
      padding: 1.4rem 0;
      font-weight: $fontMedium;
      @include fontHeight(1.6);
    }
  }
  .personal-terms {
    padding: 3.2rem 0 4rem;
    color: $gray080;
    @include fontHeight(1.4);
    word-break: keep-all;
    .terms-list {
      padding-top: 1.2rem;
      li + li{
        padding-top: 2rem;
      }
      .title {
        color: $black;
        padding-right: .2rem;
        font-weight: $fontMedium;
      }
    }
    p {
      padding-top: 1.6rem;
      &:first-child {
        padding-top: 0;
      }
    }
  }
  .page-slider {
    .slider-area {
      position: relative;
      overflow: hidden;
      overflow-x: auto;
      margin: 0 -2.4rem;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
      .slider-list {
        display: inline-flex;
        padding: 0 2.4rem;
        li {
          display: inline-block;
          width: 21.8rem;
          height: 9.8rem;
          & + li {
            margin-left: 1.2rem;
          }
          .item {
            display: block;
            width: 100%;
            padding: 1.4rem 1.6rem 2rem;
            background-color: $white;
            box-sizing: border-box;
            white-space: normal;
            &-label {
              display: block;
              color: $gray070;
              @include fontHeight(1.2);
            }
            &-text {
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              height: 4.4rem;
              padding-top: .4rem;
              font-weight: $fontMedium;
              @include fontHeight(1.6);
              word-break: keep-all;
            }
          }
        }
        
      }
    }
    .progress {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 0.2rem;
      margin-top: 2.8rem;
      background: $gray030;
      border-radius: 0.1rem;
      .active-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $black;
      }
    }
  }
  //인증서 등록/관리
  .auth-area {
    padding: 2rem 1.6rem 2rem 2rem;
    margin-top: 2.4rem;
    border: .1rem solid $line2;
    border-radius: .6rem;
    .auth-header {
      display: flex;
      .title {
        padding-top: .2rem;
        color: $gray080;
        @include fontHeight(1.2);
      }
      .btn {
        margin-left: auto;
      }
    }
    .auth-body {
      .auth-name {
        padding-top: .8rem;
        font-weight: $fontMedium;
        @include fontHeight(2);
      }
      .auth-date {
        display: inline-block;
        padding-top: .4rem;
        @include fontHeight(1.2);
        .d-day {
          position: relative;
          display: inline-block;
          padding-left: 1.7rem;
          color: $blue100;
          &::before {
            position: absolute;
            top: 50%;
            left: .8rem;
            display: block;
            width: .1rem;
            height: 1.2rem;
            margin-top: -.1rem;
            background-color: $gray030;
            transform: translateY(-50%);
            content: '';
          }
        }
      }
    }
  }
  .auth-list {
    padding-top: 2rem;
    .list-header {
      padding-bottom: .4rem;
      .text {
        font-size: 1.4rem;
        color: #666;
      }
    }
  }
  .no-data {
    padding-top: 9.8rem;
    text-align: center;
    p {
      padding-top: 2rem;
      color: $gray070;
      @include fontHeight(1.8);
    }
  }
  .auth-way {
    padding: 2.6rem 0 1.8rem;
    .number-list {
      li {
        position: relative;
        padding-left: 1.6rem;
        color: $gray090;
        @include fontHeight(1.6);
        word-break: keep-all;
        & + li {
          margin-top: .8rem;
        }
        .number {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .auth-certification { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .fanpay-top-area {
      .image-area {
        display: block;
        margin: 0 -2.4rem;
        text-align: center;
        img {
          width: 100%;
          max-width: 36rem;
        }
      }
      .message-area {
        padding-top: .8rem;
        text-align: center;
        p {
          @include fontHeight(1.6);
          font-weight: $fontRegular;
          color: $black;
          strong {
            font-weight: $fontMedium;
            color: $blue100;
          }
          &.success {
            padding-top: .8rem;
            @include fontHeight(1.8);
            font-weight: $fontMedium;
          }
        }
      }
    } 
  }
  &.auth {
    .item-area.item-flex {
      .item-right {
        height: 2.4rem;
      }
    }
    // 은행방문인증 안내
    .visit-top-area {
      .visit-title {
        font-weight: $fontMedium;
        @include fontHeight(1.8);
      }
      > .visit-title {
        padding-top: 2.4rem;
      }
      .visit-title + p {
        padding-top: 2.4rem;
        font-weight: $fontRegular;
        @include fontHeight(1.4);
        color: $gray080;
        span {
          display: block;
          & + span {
            padding-top: 1.2rem;
          }
        }
      }
      .required-document {
        padding-top: 4rem;
        .visit-title {
          padding-bottom: 0.4rem;
        }
        dl {
          div {
            padding-top: 1.6rem;
          }
          dt {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .number {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 2.0rem;
              height: 2.0rem;
              margin-right: 1.2rem;
              border: 0.1rem solid $gray040;
              border-radius: 1.0rem;
              @include fontHeight(1);
              font-weight: $fontMedium;
              color: $gray080;
            }
            padding-bottom: 0.4rem;
            @include fontHeight(1.6);
            font-weight: $fontMedium;
          }
          dd {
            padding-left: 3.2rem;
            @include fontHeight(1.4);
            font-weight: $fontRegular;
            color: $gray080;
          }
        }
      }
      .tip {
        padding-top: 1.6rem;
        @include fontHeight(1.4);
        font-weight: $fontRegular;
        color: $gray080;
      }
    }
  }
  //신용정보보호
  .text-area.lg {
    .main-text {
      font-weight: $fontLight;
      @include fontHeight(2.4);
      word-break: keep-all;
      strong {
        font-weight: $fontMedium;
      }
    }
    .sub-text {
      padding-top: 1.4rem;
      color: $gray080;
      @include fontHeight(1.4);
      word-break: keep-all;
    }
  }
  .foot-area {
    position: relative;
    padding: 3.2rem 0 2.4rem;
    margin-top: auto;
    border-top: .1rem solid $gray030;
    .sub-title {
      padding-bottom: 2.4rem;
      font-weight: $fontMedium;
      @include fontHeight(1.4);
    }
    .number-list {
      margin-bottom: 4rem;
      li {
        position: relative;
        padding-left: 1.6rem;
        @include fontHeight(1.4);
        & + li {
          margin-top: 1.2rem;
        }
        .number {
          position: absolute;
          top: 0;
          left: 0;
          font-weight: $fontMedium;
        }
        .sub-text {
          display: block;
          padding-top: .6rem;
          color: $gray080;
          @include fontHeight(1.2);
        }
      }
    }
    .text-footer {
      padding-top: 1.2rem;
      color: $gray080;
      @include fontHeight(1.2);
      span {
        color: $gray090;
      }
    }
  }

  //디스커버관리
  .today-pick {
    .content-header {
      padding-top: 0;
    }
    .pick-header {
      .sub-title{
        display: block;
        padding-top: .4rem;
        color: $gray080;
        @include fontHeight(1.4);
      }
    }
  }
  //앱설정
  &.service {
    .app-settings {
      .content-header {
        padding-top: 2.8rem;
        a {
          display: block;
        }
        .title {
          font-weight: $fontMedium;
          @include fontHeight(2.4);
        }
        .sub-title {
          display: flex;
          font-weight: $fontLight;
          @include fontHeight(2.4);
          align-items: center;
          .icon-call {
            display: inline-block;
            margin-left: .4rem;
            margin-top: -.2rem;
          }
        }
      }
      .content-body {
        .card {
          .card-body {
            padding: 0;
            .card-link {
              display: flex;
              width: 100%;
              padding: 2.4rem 0;
              border-bottom: .1rem solid $gray030;
              align-items: center;
              justify-content: space-between;
              .card-title {
                font-weight: $fontMedium;
                @include fontHeight(1.6);
              }
              .card-toolbar {
                width: 2rem;
                height: 2rem;
              }
            }
          }
        }
        .link-grid {
          display: flex;
          flex-wrap: wrap;
          padding: 3.2rem 0 5.2rem;
          margin-top: auto;
          li {
            position: relative;
            width: 50%;
            &:first-child {
              border-bottom: .1rem solid $gray030;
              border-right: .1rem solid $gray030;
              &::after {
                z-index: 1;
                position: absolute;
                bottom: -.7rem;
                right: -.9rem;
                width: 1.7rem;
                height: 1.5rem;
                background-color: $white;
                content: '';
              }
            }
            &:last-child {
              border-top: .1rem solid $gray030;
              border-left: .1rem solid $gray030;
            }
            .item {
              display: block;
              width: 100%;
              min-height: calc(100% - 5.1rem);
              padding: 3.3rem 0 1.8rem;
              text-align: center;
              .item-text {
                display: block;
                padding-top: 1.2rem;
                @include fontHeight(1.4);
              }
            }
          }
        }
        .bg-area {
          margin: auto -2.4rem 0;
          padding: 0 2.4rem 4rem;
          background-color: $bgLightGray;
          .link-title {
            padding: 0;
            .item {
              display: flex;
              width: 100%;
              padding: 3.2rem 0 2.4rem;
              &-title {
                font-weight: $fontMedium;
                @include fontHeight(1.6);
              }
              &-icon {
                margin-left: auto;
              }
            }
            
          }
        }
      }
    }
  }

  //약관동의
  .agreement.full {
    .terms-check-all { 
      &:first-of-type {
        padding-top: 3rem; 
      }
    }
  }
  //위치기반서비스동의 약관
  .location {
    .agreement.full {
      .terms-depth2 {
        > .list-group {
          .list-item {
            &.line {
              position: relative;
              margin-top: 1.2rem;
              &:before {
                position: absolute;
                top: 0;
                left: -.4rem;
                display: block;
                width: calc(100% + .8rem);
                height: .1rem;
                background-color: $gray030;
                content: '';
              }
              > .item-area {
                padding-top: 2rem;
                .item-area .item-right {
                  padding-left: .8rem;
                }
                .form-checkbox-label {
                  padding-right: 4rem;
                }
              }
            }
            .caution-type1 {
              position: relative;
              padding: 0 3.2rem 0 1.6rem;
              margin: .6rem 0 0 2.6rem;
              word-break: keep-all;
              &:before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                content: '※';
              }
            }
          }
        }
        .terms-depth3 {
          padding-top: 1.6rem;
          .list-group {
            .list-item {
              & + .list-item {
                margin-top: .2rem;
              }
              .item-area {
                padding: 0;
                .form-checkbox-label {
                  padding-right: 0;
                  @include fontHeight(1.2);
                }
              }
            }
          }
          
        }
      }
      
    }
  }
  // 개인(신용)정보 선택적 수집, 이용에 관한 사항
  .agreement-radio {
    padding: 2.4rem 0 1.6rem;
    margin: 0 -.8rem;
    border-bottom: .1rem solid $gray050;
    .form-group {
      display: flex;
      align-items: center;
      .form-radio {
        flex-basis: 50%;
        & + .form-radio {
          margin-top: 0;
        }
        .form-radio-label {
          @include fontHeight(1.4);
        }
      }
    }
  }
  // 필터설정
  .filter-setting {
    margin: 0 -2.4rem;
    border-top: .1rem solid $gray030;
    .filter-accordion {
      overflow: hidden;
      .accordion {
        .accordion-panel {
          .ico-toggle {
            right: 2.4rem;
          }
          &::after {
            display: block;
            width: 100%;
            height: .1rem;
            background-color: $gray030;
            content: '';
          }
          &.active {
            .accordion-header {
              .accordion-header-inner {
                padding: 1.2rem 5.6rem .8rem 2.4rem;
                .ico-toggle {
                  top: 1.6rem;
                }
              }
            }
          }
          .accordion-header {
            .accordion-header-inner {
              padding: 1.2rem 6rem 1.2rem 2.4rem;
              .title {
                font-weight: $fontMedium;
                @include fontHeight(1.4);
              }
              .sub-title {
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                color: $blue080;
                @include fontHeight(1.2);
                white-space: nowrap;
                .selected-tag {
                  & + .selected-tag {
                    &::before {
                      display: inline-block;
                      width: .1rem;
                      height: .8rem;
                      margin: 0 .4rem;
                      background-color: $gray050;
                      content: '';
                    }
                  }
                }
              }
            }
          }
          .accordion-content-inner {
            padding: 0 2.4rem;
            .filter-group {
              .form-control {
                font-weight: $fontMedium;
              }
            }
            .form-checkbox-input:disabled:checked +.form-checkbox-btn + .form-checkbox-label {
              color: $gray080;
            }
            .form-checkbox-label {
              @include fontHeight(1.4);
            }
          }
          .form-check-list { //dl
            dt {
              padding: 1rem 0;
              border-bottom: .1rem solid $gray030;
            }
            dd {
              padding: 1.4rem 0 1.6rem .8rem;
            }
          }
        }
      }
      .list-link {
        &.type2 {
          &::after {
            display: none;
          }
          .item {
            padding: 1.8rem 2.4rem 1.8rem;
          }
        }
        &::after {
          display: block;
          width: calc(100% + 4.8rem);
          height: .1rem;
          margin: 0 -2.4rem;
          background-color: $gray030;
          content: '';
        }
        .item {
          position: relative;
          display: block;
          padding: 1.2rem 2.4rem 1rem;
          &-title {
            font-weight: $fontMedium;
            @include fontHeight(1.4);
          }
          .sub-title {
            display: block;
            color: $blue080;
            @include fontHeight(1.2);
          }
          &-icon {
            position: absolute;
            top: 50%;
            right: 2.4rem;
            transform: rotate(90deg) translate(-50%, 0);
          }
        }
        
      }
    }
  }

  // 공지사항
  .notice-area {
    .list-group.line {
      .list-item {
        .item-area {
          display: flex;
          min-height: 10.8rem;
          padding: 0;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          .item-title {
            overflow: hidden;
            display: -webkit-box;
            width: 100%;
            text-overflow: ellipsis;
            word-wrap: break-word;
            -webkit-line-clamp: 2; /* ellipsis line */
            -webkit-box-orient: vertical;
            font-weight: normal;
            & + .item-text {
              display: block;
              margin-top: .4rem;
            }
          }
        }
      }
    }
    .notice-details {
      .notice-header {
        padding-top: 1rem;
        .title {
          font-weight: $fontMedium;
          @include fontHeight(1.8);
          word-break: keep-all;
        }
        .date {
          display: block;
          padding-top: .6rem;
          color: $gray080;
          @include fontHeight(1.4);
        }
      }
      .notice-body {
        padding-top: 3.2rem;
        p {
          color: $gray090;
          @include fontHeight(1.4);
        }
        .sub-title {
          padding: 2.8rem 0 .6rem;
          color: $black;
          font-weight: $fontMedium;
          @include fontHeight(1.4);
        }
        .dot-list {
          padding-top: .8rem;
          li {
            position: relative;
            padding-left: .8rem;
            color: $gray090;
            @include fontHeight(1.4);
            & + li {
              margin-top: .8rem;
            }
            &::before {
              position: absolute;
              top: .8rem;
              left: 0;
              display: block;
              width: .2rem;
              height: .2rem;
              background-color: $black;
              content: '';
            }
          }
        }
        .btn-box {
          padding: 2.8rem 0 0;
          text-align: center;
        }
      }
      .notice-footer {
        padding: 2.8rem 0 4.8rem;
        .download-list {
          li + li {
            margin-top: .8rem;
          }
          .item-btn {
            display: flex;
            width: 100%;
            padding: 1.6rem;
            border: .1rem solid $gray030;
            border-radius: .4rem;
            align-items: center;
            .icon-file {
              display: block;
              margin-right: .8rem;
              flex: none;
            }
            .item-text {
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              padding-right: .8rem;
              margin-bottom: -.2rem;
              @include fontHeight(1.4);
              white-space: nowrap;
            }
            .icon-download {
              display: block;
              margin-left: auto;
              flex: none;
            }
          }
        }
      }
    }
  }

  // 회원/인증 카드 선택
  &.select-certification {
    &.bottom {
      .modal-content {
        .modal-body {
          padding: 1.6rem 2.4rem 2.4rem;
          font-weight: $fontRegular;
          @include fontHeight(1.4);
          color: $gray080;
          word-break: keep-all;
          p + p {
            padding-top: 1.2rem;
          }
          strong {
            font-weight: $fontMedium;
            color: $black;
          }
        }
      }
    }
  }
  // 회원/인증 카드 목록
  &.select-card-list {
    .guide-text {
      display: flex;
      align-items: center;
      padding: 2.4rem 0 0;
      background: $white;
      width: 100%;
      h3 {
        display: inline-block;
        font-weight: $fontLight;
        @include fontHeight(1.8);
        color: $black;
        strong {
          font-weight: $fontMedium;
        }
      }
    }
    .content-body {
      margin: 0 -2.4rem;
    }
    .list-group.line {
      margin: .8rem 0;
    }
    .list-group.line .list-item .item-area {
      margin: 0 -2.4rem;
      padding: 2.0rem 2.4rem;
    }
    .certification-area {
      padding: 0 2.4rem;
    }
  }
  // 회원/인증 cvc 안내 툴팁
  &.guide-cvc-number {
    .image-area {
      display: block;
      width: 100%;
      margin-top: 1.6rem;
      img {
        width: 100%;
      }
    }
  }
  // 디스커버 튜토리얼 관심사
  &.tutorial {
    &.full {
      .sub-title {
        padding: .2rem 0 7.2rem;
        @include fontHeight(1.4);
      }
    }
    .sub-title {
      position: relative;
      padding: .2rem 0 3.7rem;
      color: $gray080;
      font-weight: $fontRegular;
      @include fontHeight(1.2);
      word-break: keep-all;
      &:after {
        position: absolute;
        bottom: -1.7rem;
        right: -2.4rem;
        display: block;
        width: 100%;
        height: 8.5rem;
        background: url(#{$img-path}/common/visual/visual_tutorial.png) no-repeat right bottom / auto 100%;
        content: '';
      }
      span {
        font-weight: $fontBold;
      }
    }
    .discover-tutorial {
      position: relative;
      padding: 0 0 2.4rem;
      &.type2 {
        margin-bottom: 5.4rem;
        .sub-title {
          padding: .2rem 0 7.2rem;
        }
      }
      .btn-refresh {
        position: absolute;
        bottom: 2rem;
        left: 0;
        z-index: 2;
        .text-xs {
          margin-top: .2rem;
          font-weight: $fontRegular;
        }
      }
      .interest-list {
        margin: 0 -.4rem;
        li + li {
          padding-top: 3rem;
        }
        .form-group {
          &.depth2 {
            padding-top: .7rem;
            padding-left: 3.6rem;
            .form-checkbox {
              label:after { 
                display: none;
              }
            }
          }
          &.btn-type.type5 {
            .form-checkbox-label {
              padding: 0.5rem 1.4rem;
              border: 0;
              border-radius: 1.9rem;
              background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='19' ry='19' stroke='%23CCCCCCFF' stroke-width='2' stroke-dasharray='2%2c6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
              background-color: transparent;
              @include fontHeight(1.3);
            }
            .form-checkbox-input:checked + .form-checkbox-label {
              background-image: none;
              background-color: $darkBlue80;
              font-weight: $fontMedium;
            }
          }
          .form-checkbox {
            label {
              &:after {
                content: '';
                display: block;
                width: 100%;
                height: .1rem;
                margin-left: .8rem;
                margin-right: .4rem;
                background-color: $gray050;
              }
              .form-checkbox-label {
                @include fontHeight(1.6);
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    // modal 초기화
    .modal-content .modal-header .modal-header-inner .modal-title {
      padding: 0;
    }
    .modal-content.scroll .modal-header::after {
      display: none;
    }
    .modal-footer {
      .btn-area {
        &.type2 {
          display: block;
          background-image: none;
          background-color: $white;
          box-shadow: 0px -.2rem .4rem 0 rgba(48, 49, 51, 0.1);
          text-align: right;
          .btn + .btn {
            margin: 0;
          }
          .btn-text {
            width: auto;
            padding: .2rem 0 0;
            margin-bottom: 1.6rem;
            color: $gray080;
            font-weight: $fontRegular;
            justify-content: flex-end;
          }
          .btn-arrow span::after {
            top: -.1rem;
          }
        }
        .count {
          margin-right: .4rem;
        }
      }
    }
  }
}
